body{
  font-family: 'PT Sans', sans-serif;
}

h1, h2, ul, p{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

/*Правила header */

header{
  margin-top: 20px;
}

/*.header__logo, header h1, .header__info{
  display: inline-block;
  vertical-align: baseline;
}*/

.header__logo{
  font-weight: bold;
  font-size: 25px;
  color: #454545;
}

.header__logo p{
  width: 140px;
  position: relative;
}

.header__logo p:after{
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  background-image: url(../img/icon-header-logo-tr.png);
  position: absolute;
  top: 9px;
  left: 83px;
}

.header__logo span{
  padding-left: 26px;
}

header h1{
  font-size: 18px;
  color: #454545;
  font-weight: normal;
}

.header__info{
  text-align: center;
  /*padding-left: 102px;*/
}

.header__info span{
  font-size: 21px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.header__info a{
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  background-color: #e37250;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  margin-top: 4px;
}

.header__info a:hover{
  color: #000;
}

nav{
  border-top: 1px double  #d3c8c8;
  border-bottom:  1px double  #d3c8c8;
}

nav li{
  display: inline-block;
  font-family: "Myriad Pro", sans-serif;
  font-size: 13px;
  margin: 22px 0 25px 24px;
}

nav a{
  color: #000;
  text-decoration: none;
  padding: 23px 6px;
}

nav a:hover{
  background-color: #f2f2f2;
  border-bottom: 2px solid  #e37250;
}

/* Карусель*/

.main__gallery img{
    width: 100%;
    height: 100%;
}

.carousel{
    margin: 20px 0;
}

/*.glyphicon-chevron-left{
  background-image: url(../img/icon-content-tr.png);
}*/

.carousel-control{
  background: none;
}

/*  Правила для main*/

.main__aside{
  background-color: #f0eeed;
  border-radius: 10px;
}

.aside__selection{
  background-color: #fff;
  width: 232px;
  margin: 0 auto;
  border: 1px solid  #d3c8c8;
  margin-top: 26px;
  border-radius: 10px;
}

.aside__selection a {
  text-decoration: none;
  font-size: 14px;
  color: #454545;
  padding-left: 17px;
}

.aside__selection li:first-child { margin-top: 26px; }
.aside__selection li:last-child { margin-bottom: 26px; }


.aside__request{
  margin-bottom: 26px;
}

.aside__request-form{
  width: 232px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 24px;
  border: 1px solid  #d3c8c8;
  border-radius: 10px;
}

.aside__request-form h2{
  color: #e17352;
  font-size: 14px;
  text-align: center;
  padding: 26px 0;
}

.aside__request-form select{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid  #d3c8c8;
}

.aside__request-form input, textarea{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 1px solid  #d3c8c8;
}

.aside__request-form input, textarea{
  border-radius: 5px;
}

.aside__request-form textarea{
  min-width: 90%;
  max-width: 90%;
  max-height: 60px;
  min-height: 60px;
}

.aside__request-form span{
  font-size: 14px;
  color: #454545;
  display: block;
  text-align: center;
}

.aside__request-form-buttom{
  padding-bottom: 22px;
}

.aside__request-form-buttom button{
  width: 109px;
  border-radius: 5px;
  box-shadow: none;
}

.aside__request-form-buttom button:first-child{ margin-left: 5px; }

.btn-file{
  border: 1px solid  #d3c8c8;
  color: #454545;
}

.btn-submit{
  border: 1px solid  #e37251;
  color: #e37251;
}

/*  правила для контента*/

section{
  background-color: #f0eeed;
  border-radius: 10px;
}

.main__advantages{
  background-color: #fff;
  padding: 24px;
  border: 1px solid  #d3c8c8;
  margin: 26px 0;
  border-radius: 10px;
}

.main__advantages p{
  font-size: 14px;
  color: #454545;
  padding-bottom: 29px;
}

.main__advantages p:last-child{ padding-bottom: 85px; }

.main__advantages h2{
  font-size: 18px;
  font-weight: bold;
  color: #e37250;
  text-align: center;
}

.main__advantages-text{
  padding-bottom: 20px;
}

.main__advantages ul{
  text-align: center;
}

.main__advantages li{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #454545;
  position: relative;
  margin-right: 64px;
  margin-top: 100px;
  margin-bottom: 53px;
}

.main__advantages li:last-child{ margin-right: 0; }

.main__advantages-car:before{
  content: "";
  display: block;
  width: 76px;
  height: 49px;
  background-image: url(../img/icon-contant-car.png);
  position: absolute;
  top: -63px;
  left: -20px;
}

.main__advantages-paper:before{
  content: "";
  display: block;
  width: 67px;
  height: 62px;
  background-image: url(../img/icon-content-paper.png);
  position: absolute;
  top: -66px;
  left: -7px;
}

.main__advantages-money:before{
  content: "";
  display: block;
  width: 66px;
  height: 69px;
  background-image: url(../img/icon-content-money.png);
  position: absolute;
  top: -72px;
  left: -7px;
}

.main__advantages-second-ul li{
  margin-right: 78px;
  text-align: center;
}

/*Правила footer*/

footer{
  padding-top: 16px;
}

.footer__bg{
  background-color: #f0eeed;
  border-radius: 10px;
}

.footer__skin{
  background-color: #fff;
  padding: 24px;
  border: 1px solid  #d3c8c8;
  margin: 26px 0;
  border-radius: 10px;
}


.footer__logo{
  padding-left: 17px;
}

.footer__logo span{
  display: block;
  font-size: 14px;
  color: #454545;
}

.footer__logo p{
  font-size: 7px;
  color: #676767;
}

.footer__menu a{
  text-decoration: none;
  color: #454545;
  font-size: 14px;
}

.footer__menu p{
  text-decoration: none;
  color: #454545;
  font-size: 14px;
}

@media all and (max-width: 750px){
  .header__info, header h1{
    text-align: center;
  }

  .header__logo p{
    margin: 0 auto;
  }
  /*.header__logo:after{
    left: 155px;
  }*/

  .header__info{
    display: block;
  }

  nav li{
    display: block;
    text-align: center;
    margin: 15px 0;
  }

  nav a:hover{
    background: none;
    border: none;
  }

  aside{
    padding: 10px 0;
    margin-bottom: 20px;
  }

  .main__advantages li{
    display: block;
    text-align: center;
    margin-right: 0;
  }

  .main__advantages li:before{
    top: -90px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

    .footer__logo, .footer__menu{
      text-align: center;
      margin-bottom: 15px;
    }

}